.navbar {
    height: 80px;
    background: green
  }
  
  .nav-item {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
    font-family: 'Luckiest Guy', cursive;
  }
  
